/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3.5rem;
}


/* Below CSS is to handle About page jumbotron and card styles - Extra credit page*/

.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}