/* Extra small devices (phones, 600px and down) 
  Show font in medium size and remove the images */

@media only screen and (max-width: 600px) {
    p.fonthandler {
        font-size: small;
    }
    .lgimgHandler {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up)
Remove the images 
Resize the jumbotron for about page in responsive design*/

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .lgimgHandler {
        display: none;
    }
}